/*corpo*/

body{
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1, h2, h3{
    font-family: Asap, sans-serif;
    color: #000000;
}

/*Navegação*/

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav > a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul lli a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1{
    color: #ffffff;
}

header p{
    margin-bottom: 2em;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #ffffff;
}

#sobre h2{
    color: #ffffff;
}

#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}